input {
  display: block;
  margin: 1% auto;
  padding: 2%;
  width: 90%;
  border: darkslategrey 2px solid;
}

.warning {
  border: red 2px solid;
}

.submit {
  margin: 2% auto;
  width: 45%;
}

.invisible {
  display: none;
}
